/* 1. Set the background color for the whole page */
body {
  background: #00b3e6;
}

/* 2. Style all div elements */
div {
  width: 700px;
  margin: auto;
  font-family: "Helvetica Neue", sans-serif;
  background: white;
  padding: 30px;
}

/* 3. Style the main header */
#main-header {
  font-size: 22px;
}

/* 4. Style the perspective questions */
.perspective-questions {
  font-style: italic;
}
